In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv ('Listings_small.csv')

In [ ]:
df.info

<bound method DataFrame.info of      listing_id                                 name  host_id host_since  \
0          2595                Skylit Midtown Castle     2845   09-09-08
1          3109                         zen and calm     3631   14-10-08
2          5178   Large Furnished Room Near B'wayã€€     8967   03-03-09
3          6848     Only 2 stops to Manhattan studio    15991   06-05-09
4          7397     MARAIS - 2ROOMS APT - 2/4 PEOPLE     2626   30-08-08
..          ...                                  ...      ...        ...
995      171422     House near skytrain BKK Thailand   818004   14-07-11
996      171658      In the Chinese quarter of Paris   819015   14-07-11
997      173709   Excelent apt near Copacabana beach   829630   17-07-11
998      175338   Beautiful apt for 2 - Eiffel Tower   738410   24-06-11
999      176185  Penthouse Oceanview Copacab/Ipanema   842466   20-07-11

                              host_location  host_response_time  \
0         New York, New York, United States  within a few hours
1              Paris, Ile-de-France, France                 NaN
2         New York, New York, United States        within a day
3         New York, New York, United States                 NaN
4              Paris, Ile-de-France, France      within an hour
..                                      ...                 ...
995                       Bangkok, Thailand                 NaN
996            Paris, Ile-de-France, France                 NaN
997  Rio de Janeiro, Rio de Janeiro, Brazil  within a few hours
998            Paris, Ile-de-France, France                 NaN
999  Rio de Janeiro, Rio de Janeiro, Brazil      within an hour

     host_response_rate  host_acceptance_rate host_is_superhost  \
0                  0.93                  0.26                 f
1                   NaN                  0.00                 f
2                  1.00                  1.00                 f
3                   NaN                  0.75                 f
4                  1.00                  0.83                 t
..                  ...                   ...               ...
995                 NaN                  1.00                 f
996                 NaN                   NaN                 f
997                1.00                  0.86                 t
998                 NaN                  0.83                 t
999                1.00                  0.00                 t

     host_total_listings_count  ... minimum_nights maximum_nights  \
0                            6  ...             30           1125
1                            1  ...              2             30
2                            1  ...              2             14
3                            1  ...             30            730
4                            3  ...             10            130
..                         ...  ...            ...            ...
995                          2  ...             30            730
996                          1  ...              7             45
997                          2  ...              1             28
998                          1  ...              2             21
999                          1  ...              3             25

    review_scores_rating review_scores_accuracy review_scores_cleanliness  \
0                   94.0                    9.0                       9.0
1                  100.0                   10.0                      10.0
2                   84.0                    9.0                       8.0
3                   91.0                    9.0                      10.0
4                   94.0                   10.0                       9.0
..                   ...                    ...                       ...
995                  NaN                    NaN                       NaN
996                 96.0                   10.0                      10.0
997                 96.0                   10.0                      10.0
998                 97.0                   10.0                       9.0
999                 97.0                   10.0                      10.0

     review_scores_checkin  review_scores_communication  \
0                     10.0                         10.0
1                     10.0                         10.0
2                      9.0                          9.0
3                     10.0                         10.0
4                     10.0                         10.0
..                     ...                          ...
995                    NaN                          NaN
996                   10.0                         10.0
997                   10.0                         10.0
998                   10.0                         10.0
999                   10.0                         10.0

    review_scores_location review_scores_value  instant_bookable
0                     10.0                 9.0                 f
1                     10.0                10.0                 f
2                     10.0                 9.0                 f
3                      9.0                 9.0                 f
4                     10.0                10.0                 f
..                     ...                 ...               ...
995                    NaN                 NaN                 t
996                    9.0                10.0                 f
997                   10.0                10.0                 f
998                   10.0                10.0                 f
999                   10.0                10.0                 f

[1000 rows x 33 columns]>

In [ ]:
df.dtypes

listing_id                       int64
name                            object
host_id                          int64
host_since                      object
host_location                   object
host_response_time              object
host_response_rate             float64
host_acceptance_rate           float64
host_is_superhost               object
host_total_listings_count        int64
host_has_profile_pic            object
host_identity_verified          object
neighbourhood                   object
district                        object
city                            object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bedrooms                       float64
amenities                       object
price                            int64
minimum_nights                   int64
maximum_nights                   int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                object
dtype: object

In [ ]:
df.describe

<bound method NDFrame.describe of      listing_id                                 name  host_id host_since  \
0          2595                Skylit Midtown Castle     2845   09-09-08
1          3109                         zen and calm     3631   14-10-08
2          5178   Large Furnished Room Near B'wayã€€     8967   03-03-09
3          6848     Only 2 stops to Manhattan studio    15991   06-05-09
4          7397     MARAIS - 2ROOMS APT - 2/4 PEOPLE     2626   30-08-08
..          ...                                  ...      ...        ...
995      171422     House near skytrain BKK Thailand   818004   14-07-11
996      171658      In the Chinese quarter of Paris   819015   14-07-11
997      173709   Excelent apt near Copacabana beach   829630   17-07-11
998      175338   Beautiful apt for 2 - Eiffel Tower   738410   24-06-11
999      176185  Penthouse Oceanview Copacab/Ipanema   842466   20-07-11

                              host_location  host_response_time  \
0         New York, New York, United States  within a few hours
1              Paris, Ile-de-France, France                 NaN
2         New York, New York, United States        within a day
3         New York, New York, United States                 NaN
4              Paris, Ile-de-France, France      within an hour
..                                      ...                 ...
995                       Bangkok, Thailand                 NaN
996            Paris, Ile-de-France, France                 NaN
997  Rio de Janeiro, Rio de Janeiro, Brazil  within a few hours
998            Paris, Ile-de-France, France                 NaN
999  Rio de Janeiro, Rio de Janeiro, Brazil      within an hour

     host_response_rate  host_acceptance_rate host_is_superhost  \
0                  0.93                  0.26                 f
1                   NaN                  0.00                 f
2                  1.00                  1.00                 f
3                   NaN                  0.75                 f
4                  1.00                  0.83                 t
..                  ...                   ...               ...
995                 NaN                  1.00                 f
996                 NaN                   NaN                 f
997                1.00                  0.86                 t
998                 NaN                  0.83                 t
999                1.00                  0.00                 t

     host_total_listings_count  ... minimum_nights maximum_nights  \
0                            6  ...             30           1125
1                            1  ...              2             30
2                            1  ...              2             14
3                            1  ...             30            730
4                            3  ...             10            130
..                         ...  ...            ...            ...
995                          2  ...             30            730
996                          1  ...              7             45
997                          2  ...              1             28
998                          1  ...              2             21
999                          1  ...              3             25

    review_scores_rating review_scores_accuracy review_scores_cleanliness  \
0                   94.0                    9.0                       9.0
1                  100.0                   10.0                      10.0
2                   84.0                    9.0                       8.0
3                   91.0                    9.0                      10.0
4                   94.0                   10.0                       9.0
..                   ...                    ...                       ...
995                  NaN                    NaN                       NaN
996                 96.0                   10.0                      10.0
997                 96.0                   10.0                      10.0
998                 97.0                   10.0                       9.0
999                 97.0                   10.0                      10.0

     review_scores_checkin  review_scores_communication  \
0                     10.0                         10.0
1                     10.0                         10.0
2                      9.0                          9.0
3                     10.0                         10.0
4                     10.0                         10.0
..                     ...                          ...
995                    NaN                          NaN
996                   10.0                         10.0
997                   10.0                         10.0
998                   10.0                         10.0
999                   10.0                         10.0

    review_scores_location review_scores_value  instant_bookable
0                     10.0                 9.0                 f
1                     10.0                10.0                 f
2                     10.0                 9.0                 f
3                      9.0                 9.0                 f
4                     10.0                10.0                 f
..                     ...                 ...               ...
995                    NaN                 NaN                 t
996                    9.0                10.0                 f
997                   10.0                10.0                 f
998                   10.0                10.0                 f
999                   10.0                10.0                 f

[1000 rows x 33 columns]>

In [ ]:
df.isna().sum()

listing_id                       0
name                             0
host_id                          0
host_since                       0
host_location                    0
host_response_time             433
host_response_rate             433
host_acceptance_rate           325
host_is_superhost                0
host_total_listings_count        0
host_has_profile_pic             0
host_identity_verified           0
neighbourhood                    0
district                       674
city                             0
latitude                         0
longitude                        0
property_type                    0
room_type                        0
accommodates                     0
bedrooms                        55
amenities                        0
price                            0
minimum_nights                   0
maximum_nights                   0
review_scores_rating           101
review_scores_accuracy         105
review_scores_cleanliness      105
review_scores_checkin          106
review_scores_communication    106
review_scores_location         106
review_scores_value            106
instant_bookable                 0
dtype: int64

In [ ]:
df.count(axis=0)

listing_id                     1000
name                           1000
host_id                        1000
host_since                     1000
host_location                  1000
host_response_time              567
host_response_rate              567
host_acceptance_rate            675
host_is_superhost              1000
host_total_listings_count      1000
host_has_profile_pic           1000
host_identity_verified         1000
neighbourhood                  1000
district                        326
city                           1000
latitude                       1000
longitude                      1000
property_type                  1000
room_type                      1000
accommodates                   1000
bedrooms                        945
amenities                      1000
price                          1000
minimum_nights                 1000
maximum_nights                 1000
review_scores_rating            899
review_scores_accuracy          895
review_scores_cleanliness       895
review_scores_checkin           894
review_scores_communication     894
review_scores_location          894
review_scores_value             894
instant_bookable               1000
dtype: int64

In [ ]:
df.listing_id

0        2595
1        3109
2        5178
3        6848
4        7397
        ...
995    171422
996    171658
997    173709
998    175338
999    176185
Name: listing_id, Length: 1000, dtype: int64

In [ ]:
df.instant_bookable

0      f
1      f
2      f
3      f
4      f
      ..
995    t
996    f
997    f
998    f
999    f
Name: instant_bookable, Length: 1000, dtype: object

In [ ]:
df.price.sort_values()

51        14
340       20
191       21
302       22
476       23
       ...
605     7500
220     8000
107    14315
828    14315
209    17900
Name: price, Length: 1000, dtype: int64

In [ ]:
df.host_response_time.fillna('N/A')

0      within a few hours
1                     N/A
2            within a day
3                     N/A
4          within an hour
              ...
995                   N/A
996                   N/A
997    within a few hours
998                   N/A
999        within an hour
Name: host_response_time, Length: 1000, dtype: object

In [ ]:
import pandas as pd
import numpy as np